td {
	background-position: center;
	background-size: 100%;
}

#refused, #signedup, #loggedin {
	display: none;
}

#refused:target, #signedup:target, #loggedin:target {
	display: block;
}

#b_creator > input {
	width: 7%;
}

#origin > input {
	width: 7%;
}
